@charset "utf-8";

.num-txt {font-family: 'Roboto', sans-serif!important;}
.round_box {display: block;border-radius: 10px!important;  padding: 20px;  position: relative}
.round_box.bg01 {background-color: #7161f7;}/* purple */
.round_box.bg02 {background-color: #f4f4f4; padding: 20px 20px 14px 20px!important;}/* gray */
.round_box.bg03 {background-color: #f4f4f4; padding: 10px 10px 10px 8px!important;}/* gray */
.round_box.bg04 {background-color: #7161f7; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);}/* purple */
.round_box.bg05 {background-color: #fff; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);}/* white */
.round_box.bg06 {background-color: #fff;border: solid 1px #e4e4e4; padding: 20px 20px 16px 15px}/* white */

.font-tp01 {color: #b4abfd; font-family: 'Roboto';font-size: 12px!important;}
.font-tp02 {color: #b4abfd; font-family: 'Roboto';font-size: 14px!important;}
.error-txt {font-size: 12px;color: #7538ff; margin-top: 10px;}

/* main */
.coin-balance .num {font-family: 'Roboto', sans-serif;font-size: 1.875em; font-weight: 500; color: #fff;}
.coin-balance .num span,.money-balance .num span {padding-left: 3px;}
.coin-balance strong {font-size: 14px; color: #fff;}
.money-balance {border-bottom: 1px solid #8a7ef4; overflow: hidden; padding-bottom: 15px; margin-bottom: 15px;}
.money-balance .area {float: left; width: 50%;}
.money-balance .num {font-size: 16px; font-weight: 500; color: #fff;}
.address-ed {position: relative}
.address-ed .num {font-size: 10px; color: #fff;}
.copy {display: inline-block;width: 37px;height: 22px;border-radius: 4px;background-color: #ffffff;color: #4c4c4c;font-size: 12px; text-align: center;line-height: 22px; margin-left: 5px; position: absolute; right: 0; top: 11px}

/* 거래내역 */
.t-history-list {color: #4c4c4c;}
.t-history-list li{margin-bottom: 10px;}
.t-history-list .address {font-size: 10px; margin-bottom: 0!important}
.t-history-list .date {font-size: 12px; margin-top: 4px; margin-bottom: 0}
.t-history .no-list {font-size: 14px; color: #b7b7b7; text-align: center; margin-top: 50px;}
.t-history .t-empty,.t-history .a-empty {font-size: 14px; color: #92a8bc; text-align: center; margin-top: 50%; padding-top: 82px;}
.t-history .t-empty {background: url(../../images/no-transaction.png) center top no-repeat; background-size: 72px 72px;  }
.t-history .a-empty {background: url(../../images/no-account.png) center top no-repeat; background-size: 73px 73px; }

.thumbnail-cont {display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */}
.thumbnail-cont .qr_img {width: 80px; height: 80px; background: #fff; padding: 5px; margin-right: 22px;}
.thumbnail-cont .qr_img img {width: 70px; height: 70px;}
.thumbnail-cont .info {width: 70%;}
.thumbnail-cont .info strong {font-size: 12px; font-weight: 500; margin-top: 5px;}
.thumbnail-cont .info .address {font-size: 10px; max-width: 145px; word-wrap: break-word}
.thumbnail-cont .list-more-btn {width: 20px; position: relative}

.t-history-list .num ,.thumbnail-cont .info .num{font-size: 20px;font-weight: 500;}
.t-history-list .num img {vertical-align: top; margin-top: 4px; margin-right: 9px; object-fit: contain;}
.t-history-list .num span,.thumbnail-cont .info .num span{font-size: 12px; font-weight: normal; margin-left: 2px;}
.more {position: absolute; right: 0; top: 8px; width: 20px; height: 20px; text-align: center}
.more img {height: 20px;}

/* 계정관련 */
.account-info {display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */ margin-bottom: 10px; position: relative}
.round-ico-area {width: 44px; margin-right: 3px;}
.round-ico {width: 34px; height: 34px; background-color: #7161f7; border-radius: 100px 100px; text-align: center;}
.adr_info {background-image: url(../../images/ico-address.png); background-position: left top; background-repeat: no-repeat;background-size: 22px 22px; display: inline-block; width: 22px; height: 22px; margin-top: 6px }
.key_info {background: url(../../images/ico-key.png) left top no-repeat; background-size: 14px 20px; display: inline-block; width: 14px; height: 20px; margin-top: 7px }
.word_info {background: url(../../images/ico-word.png) left top no-repeat; background-size: 20px 14px; display: inline-block; width: 20px; height: 14px; margin-top: 10px }
.cording_info {background: url(../../images/ico-coding.png) left top no-repeat; background-size: 20px 20px; display: inline-block; width: 20px; height: 20px; margin-top: 7px }
.account-cont {display: block;  line-height: 1.2;  width: -moz-calc(100% - 47px);  
    width: -webkit-calc(100% - 47px);     
    width: calc(100% - 47px);}
.account-cont strong{font-size: 14px; color: #7161f7; font-weight: 500;}
.account-cont .code {width: 100%;}
.account-cont .code span {font-size: 12px; color: #b7b7b7; display: inline-block;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: 195px;}
.account-cont .code .copy-btn {width: 37px;height: 22px;border-radius: 4px;background-color: #beccd9; font-size: 12px; color: #fff!important; text-align: center; line-height: 22px; position: absolute; right: 20px; top: 36px;}
.account-cont .sub-txt {font-size: 12px; color: #b7b7b7; margin-top: 2px; letter-spacing: -0.07em}
.select-area {overflow: hidden; margin-bottom: 15px}
.select-area li {float: left; margin-right: 14px;}
.add-accout-box a{height: 160px;border-radius: 10px; display: block; font-size: 12px; color: #fff!important; text-align: center;font-weight: 500; background:#7161f7 url(../../images/add-accout.png) no-repeat center 44px; background-size: 40px 40px; overflow: hidden; padding-top: 103px;}

/* 회원관련 */
.search-idpw {text-align: right; margin-top: 5px;}
.search-idpw a{color: #b7b7b7!important; font-size: 12px; margin: 0 8px}
.search-idpw a:last-child {margin: 0 0 0 8px}
.search-idpw .line {width: 1px;height: 8px;background-color: #ced4e2;display:inline-block; vertical-align: middle}
.login-area {position: fixed; bottom: 30px; text-align: center; left: 0; right: 0; font-size: 12px;}
.login-area p {color: #b7b7b7;  margin: 0}
.login-area a{color: #2b2b2b; font-weight: 500; text-decoration:underline!important; margin-top: 4px; display: inline-block}
.agree-area {font-size: 12px; margin-top: 20px; text-align: center}
.agree-area a {font-weight: 500; text-decoration: underline!important; }
.agree-area label {vertical-align: middle; margin-bottom: 2px!important}

/* pin입력 */
.pin-title {margin-top: 50px; text-align: center; font-weight: 500; color: #fff; font-size: 20px;}
.pin-title .s-txt {color: #b4abfd; font-size: 12px; margin-top: -4px;}
.pin-reseult {text-align: center;}
.pin-click {text-align: center; margin-top: 30px;}
.pin-click button {width: 20px;height: 20px;background-color: #4f43bb; border-radius: 100px 100px; margin: 0 9px; text-indent: -999999999999999999999999px; font-size: 0}
.pin-click button:hover,.pin-click button:focus,.pin-click button:active,.pin-click button.selected {background-color: #fff;}
a.reset-pin{text-decoration: underline!important; font-size: 12px; color: #b4abfd!important; font-weight: 500; text-align: center!important; margin-top: 15px; display:inline-block}
.pin-num-area {padding: 0 7px; margin-top: 15px; overflow: hidden;}
.pin-num-area li {width: 33.3%; float: left; text-align: center}
.pin-num-area li a {font-family: 'Roboto';font-size: 24px;font-weight: 500; color: #fff!important; padding: 20px 0; display: block}
.pin-num-area li a img {width: 32px; height: 20px; vertical-align: top; margin-top: 8px;}

/* 설정 */
.setting-wrap {border-top:1px solid #eee;}
.setting-list {padding: 0 20px;}
.setting-list li {padding: 16px 0; border-bottom:1px solid #eee;}
.setting-list li.v1{padding: 19px 0; position: relative}
.setting-list li p{color: #b7b7b7; font-size: 12px; margin: 0}
.setting-switch {position: absolute; right: 0; top:16px;}
.logout {text-align: right; padding: 0 20px}
.logout .btn-logout {color: #b7b7b7!important; font-size: 12px;}
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background-color: #f4f4f4;
    border-radius: 20px;
    content: '';
    height: 16px;
    position:absolute;
    transition: all 0.4s ease-in-out;
    width: 36px;
}
.material-switch > label::after {
    border-radius: 20px;
    background-color: #9a9a9a;
    content: '';
    height: 22px;
    position: absolute;
    top: -3px;
    transition: all 0.3s ease-in-out;
    width: 22px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
}
.material-switch > input[type="checkbox"]:checked + label::after {
    left: 16px;
	background-color: #7161f7;
}

/* 이용약관 */
.use-term {position: relative}
.tab-line {width: 1px;height: 16px;background-color: #ececec; display: inline-block; position: absolute; left: 50%; top: 15px;}
.tab-line.v1 { background-color: #ced4e2; height: 12px; top: 3px}

.term-tab {border-top: 1px solid #ececec; border-bottom: 1px solid #ececec}
.term-tab>li {width: 50%; margin-bottom: 0!important}
.term-tab>li>a {font-size: 12px;color: #4d4d4d!important; text-align: center!important; padding: 14px!important; border-radius: 0!important; border:0!important;}
.term-tab>li.active>a, .term-tab>li.active>a:focus, .term-tab>li.active>a:hover {border: 0!important;color: #7161f7!important;font-weight: 500!important}
.term-tab-cont {padding: 20px;}
.term-tab-cont h3 {font-size: 16px; font-weight: bold; margin-top: 0!important}
.term-tab-cont h4 {font-size: 14px; font-weight: 500; margin: 20px 0 10px 0;}
.term-tab-cont .cont-box {font-size: 12px; color: #868686;}
.term-tab .nav-link{color: #4d4d4d!important;}

/* modal */
.send-coin-confirm{top:inherit!important; bottom: 0!important; width: 100%!important }
.send-coin-box {margin: 0!important; width: 100%!important }
.send-coin-cont {border-radius: 0!important; border:0!important;background-color: #7161f7!important;}
.send-coin-cont .modal-header {text-align: center; padding: 20px 0 20px!important; border-bottom: 1px solid #8476ff!important; margin: 0 40px;}
.send-coin-cont .modal-title {color: #fff; text-align: center; font-size: 16px; font-weight: 500}
.send-coin-cont .modal-body {font-size: 14px; color: #fff; overflow: hidden; padding: 20px 40px 30px !important;}
.send-coin-cont .modal-body .tit {float: left; width: 30%}
.send-coin-cont .modal-body .info {float: right; width: 70%; text-align: right;}
.send-coin-cont .modal-body .add-info {font-size: 10px; display: block; float: left; width: 100%;}
.send-coin-cont .row-area {margin-bottom: 10px; display: block; overflow: hidden}
.send-coin-cont .modal-header p {font-size: 12px;color: #b4abfd; margin-bottom: 0!important}
.send-coin-cont .modal-footer {border-top: 0!important; background: #fff; padding: 17px 0!important}
.send-coin-cont .modal-btn-area {position: relative;}
.send-coin-cont button {width: 50%; float: left; font-size: 14px; font-weight: 500;}

.success-msg-header {text-align: center; padding: 0 0 20px!important; border-bottom: 1px solid #8476ff!important; margin: 0 40px; background: url(../../images/success.png) center 40px no-repeat; background-size: 70px 70px;}
.success-msg-header .modal-title {color: #fff; text-align: center; font-size: 16px; font-weight: 500; padding-top: 140px;}
.success-msg-header p {font-size: 12px;color: #b4abfd; margin-bottom: 0!important}

.success-msg-cont {font-size: 14px; color: #fff; overflow: hidden; padding: 40px 40px 30px !important;}
.success-msg-cont .tit {float: left; width: 30%}
.success-msg-cont .info {float: right; width: 70%; text-align: right;}
.success-msg-cont .add-info {font-size: 10px; display: block; float: left; width: 100%;}
.success-msg-cont .row-area {margin-bottom: 10px; display: block; overflow: hidden}
.success-msg-footer {position: fixed; bottom: 0; left: 0; right: 0; background: #fff;}
.success-msg-footer {border-top: 0!important; background: #fff; padding: 17px 0!important}
.success-msg-footer button {font-size: 14px; font-weight: 500; text-align: center; width: 100% }


.vertical-center-modal {
  position:absolute!important;
  top:50% !important;
  transform: translate(0, -50%) !important;
   -ms-transform: translate(0, -50%) !important;
  -webkit-transform: translate(0, -50%) !important;
	-o-transform: translate(0, -50%) !important;
  -moz-transform: translate(0, -50%) !important;
  margin:auto 15%!important;
  height:auto!important;
	width: 70%!important;
}

.qr-info-box .modal-content{border-radius: 10px!important;
background: #7161f7!important; border: 0!important;box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2)!important; text-align: center;}
.qr-info-box .modal-body {padding: 40px 35px!important}
.qr-info-box .qr-title {color: #fff; font-size: 12px; font-weight: 500; margin-bottom: 15px;}
.qr-info-box .qr-title .circle-icon {display: inline-block; width: 34px; height: 34px; border-radius: 100px;}
.qr-info-box .qr-title .circle-icon.v1 {background:#fff url(../../images/key-color.png) center center no-repeat; background-size: 14px 20px;}
.qr-info-box .qr-title .circle-icon.v2 {background:#fff url(../../images/word-color.png) center center no-repeat; background-size: 20px 14px;}
.qr-info-box .qr-title .circle-icon.v3 {background:#fff url(../../images/way-color.png) center center no-repeat; background-size: 20px 20px;}

.qr-info-box .qr-code {font-size: 10px; color: #b4abfd; word-break: break-all; margin-top: 20px;}
.qr-info-box .qr-img-box {background: #fff; width: 120px; height: 120px; padding: 5px; margin: 0 auto;}
.qr-info-box .qr-img-box img {width: 110px; height: 110px;}

.alert-box .modal-content{border-radius: 10px!important;
background: #7161f7!important; border: 0!important;box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2)!important; text-align: center; color: #fff!important}
.alert-box .modal-body {padding: 30px 0!important;}
.alert-box .alert-cont {font-size: 14px; margin-top: 12px;}

.alert-box .modal-footer {border-top: 0!important; background: #fff; padding: 14px 0!important;border-bottom-left-radius: 10px!important; border-bottom-right-radius: 10px!important;
}
.alert-box .modal-btn-area {position: relative;}
.alert-box button {width: 50%; float: left; font-size: 14px; font-weight: 500; color: #4c4c4c;}
.alert-box button.v1 {width: 100%; }

/* layer */
.all-del {min-width: 140px!important; left: -120px!important; top: 36px!important; margin: 0!important; border: 0!important; text-align: center!important; padding: 0!important}
.all-del a {color: #fff!important; height: 44px!important; display: block; line-height: 45px!important}
.list-info {min-width: 140px!important; left: -130px!important; top:10px!important; margin: 0!important; border: 0!important; text-align: center!important; padding: 0!important; z-index: 9999;}
.list-info-menu {height: 44px!important; display: block; line-height: 45px!important; color: #414141!important;border-top: 1px solid #e4e4e4;}
.list-info-menu:first-child {border-top: 1px solid #e4e4e4;}

/* form */
.input-area label {font-size: 12px!important; color: #4c4c4c!important; font-weight: normal!important}
.input-area input[type="text"],.input-area input[type="password"],.input-area .select-styled,.input-area select {padding: 0 20px!important; border-radius: 6px;border: solid 1px #e4e4e4;background-color: #ffffff; height: 48px; color: #4c4c4c!important; box-shadow: none!important; }
.input-area input[type="text"].v1 {text-align: center; font-size: 10px;}
.input-area input::placeholder,.input-area textarea::placeholder{color: #b7b7b7!important; font-size: 12px!important}
.input-area select{color: #4c4c4c!important; font-size: 12px!important; outline: 0!important; background: url(../../images/dropdown_b.png) no-repeat 95% 50%; background-size: 10px 6px;}
.input-area textarea {padding: 20px!important; border-radius: 6px;border: solid 1px #e4e4e4;background-color: #ffffff; color: #4c4c4c!important; box-shadow: none!important; height: 286px!important;}

