@charset "utf-8";

.num-txt {font-family: 'Roboto', sans-serif!important;}
.round_box {display: block;border-radius: 10px!important;  padding: 20px;  position: relative}
.round_box.bg01 {background-color: #7161f7;}/* purple */
.round_box.bg02 {background-color: #f4f4f4; padding: 20px 20px 14px 20px!important;}/* gray */
.round_box.bg03 {background-color: #f4f4f4; padding: 10px 10px 10px 8px!important;}/* gray */
.round_box.bg04 {background-color: #7161f7; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);}/* purple */
.round_box.bg05 {background-color: #fff; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);}/* white */
.round_box.bg06 {background-color: #fff;border: solid 1px #e4e4e4; padding: 20px 20px 16px 15px}/* white */

.font-tp01 {color: #b4abfd; font-family: 'Roboto';font-size: 12px!important;}
.font-tp02 {color: #b4abfd; font-family: 'Roboto';font-size: 14px!important;}
.error-txt {font-size: 12px;color: #7538ff; margin-top: 10px;}

/* main */
.coin-balance .num {font-family: 'Roboto', sans-serif;font-size: 1.875em; font-weight: 500; color: #fff;}
.coin-balance .num span,.money-balance .num span {padding-left: 3px;}
.coin-balance strong {font-size: 14px; color: #fff;}
.money-balance {border-bottom: 1px solid #8a7ef4; overflow: hidden; padding-bottom: 15px; margin-bottom: 15px;}
.money-balance .area {float: left; width: 50%;}
.money-balance .num {font-size: 16px; font-weight: 500; color: #fff;}
.address-ed {position: relative}
.address-ed .num {font-size: 10px; color: #fff;}
.copy {display: inline-block;width: 37px;height: 22px;border-radius: 4px;background-color: #ffffff;color: #4c4c4c;font-size: 12px; text-align: center;line-height: 22px; margin-left: 5px; position: absolute; right: 0; top: 11px}

/* 거래내역 */
.t-history-list {color: #4c4c4c;}
.t-history-list li{margin-bottom: 10px;}
.t-history-list .address {font-size: 10px; margin-bottom: 0!important}
.t-history-list .date {font-size: 12px; margin-top: 4px; margin-bottom: 0}
.t-history .no-list {font-size: 14px; color: #b7b7b7; text-align: center; margin-top: 50px;}
.t-history .t-empty,.t-history .a-empty {font-size: 14px; color: #92a8bc; text-align: center; margin-top: 50%; padding-top: 82px;}
.t-history .t-empty {background: url(../../images/no-transaction.png) center top no-repeat; background-size: 72px 72px;  }
.t-history .a-empty {background: url(../../images/no-account.png) center top no-repeat; background-size: 73px 73px; }

.thumbnail-cont {display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */}
.thumbnail-cont .qr_img {width: 80px; height: 80px; background: #fff; padding: 5px; margin-right: 22px;}
.thumbnail-cont .qr_img img {width: 70px; height: 70px;}
.thumbnail-cont .info {width: 70%;}
.thumbnail-cont .info strong {font-size: 12px; font-weight: 500; margin-top: 5px;}
.thumbnail-cont .info .address {font-size: 10px; max-width: 145px; word-wrap: break-word}
.thumbnail-cont .list-more-btn {width: 20px; position: relative}

.t-history-list .num ,.thumbnail-cont .info .num{font-size: 20px;font-weight: 500;}
.t-history-list .num img {vertical-align: top; margin-top: 4px; margin-right: 9px; object-fit: contain;}
.t-history-list .num span,.thumbnail-cont .info .num span{font-size: 12px; font-weight: normal; margin-left: 2px;}
.more {position: absolute; right: 0; top: 8px; width: 20px; height: 20px; text-align: center}
.more img {height: 20px;}

/* 계정관련 */
.account-info {display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */ margin-bottom: 10px; position: relative}
.round-ico-area {width: 44px; margin-right: 3px;}
.round-ico {width: 34px; height: 34px; background-color: #7161f7; border-radius: 100px 100px; text-align: center;}
.adr_info {background-image: url(../../images/ico-address.png); background-position: left top; background-repeat: no-repeat;background-size: 22px 22px; display: inline-block; width: 22px; height: 22px; margin-top: 6px }
.key_info {background: url(../../images/ico-key.png) left top no-repeat; background-size: 14px 20px; display: inline-block; width: 14px; height: 20px; margin-top: 7px }
.word_info {background: url(../../images/ico-word.png) left top no-repeat; background-size: 20px 14px; display: inline-block; width: 20px; height: 14px; margin-top: 10px }
.cording_info {background: url(../../images/ico-coding.png) left top no-repeat; background-size: 20px 20px; display: inline-block; width: 20px; height: 20px; margin-top: 7px }
.account-cont {display: block;  line-height: 1.2;  width: -moz-calc(100% - 47px);  
    width: -webkit-calc(100% - 47px);     
    width: calc(100% - 47px);}
.account-cont strong{font-size: 14px; color: #7161f7; font-weight: 500;}
.account-cont .code {width: 100%;}
.account-cont .code span {font-size: 12px; color: #b7b7b7; display: inline-block;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: 195px;}
.account-cont .code .copy-btn {width: 37px;height: 22px;border-radius: 4px;background-color: #beccd9; font-size: 12px; color: #fff!important; text-align: center; line-height: 22px; position: absolute; right: 20px; top: 36px;}
.account-cont .sub-txt {font-size: 12px; color: #b7b7b7; margin-top: 2px; letter-spacing: -0.07em}
.select-area {overflow: hidden; margin-bottom: 15px}
.select-area li {float: left; margin-right: 14px;}
.add-accout-box a{height: 160px;border-radius: 10px; display: block; font-size: 12px; color: #fff!important; text-align: center;font-weight: 500; background:#7161f7 url(../../images/add-accout.png) no-repeat center 44px; background-size: 40px 40px; overflow: hidden; padding-top: 103px;}

/* 회원관련 */
.search-idpw {text-align: right; margin-top: 5px;}
.search-idpw a{color: #b7b7b7!important; font-size: 12px; margin: 0 8px}
.search-idpw a:last-child {margin: 0 0 0 8px}
.search-idpw .line {width: 1px;height: 8px;background-color: #ced4e2;display:inline-block; vertical-align: middle}
.login-area {position: fixed; bottom: 30px; text-align: center; left: 0; right: 0; font-size: 12px;}
.login-area p {color: #b7b7b7;  margin: 0}
.login-area a{color: #2b2b2b; font-weight: 500; text-decoration:underline!important; margin-top: 4px; display: inline-block}
.agree-area {font-size: 12px; margin-top: 20px; text-align: center}
.agree-area a {font-weight: 500; text-decoration: underline!important; }
.agree-area label {vertical-align: middle; margin-bottom: 2px!important}

/* pin입력 */
.pin-title {margin-top: 50px; text-align: center; font-weight: 500; color: #fff; font-size: 20px;}
.pin-title .s-txt {color: #b4abfd; font-size: 12px; margin-top: -4px;}
.pin-reseult {text-align: center;}
.pin-click {text-align: center; margin-top: 30px;}
.pin-click button {width: 20px;height: 20px;background-color: #4f43bb; border-radius: 100px 100px; margin: 0 9px; text-indent: -999999999999999999999999px; font-size: 0}
.pin-click button:hover,.pin-click button:focus,.pin-click button:active,.pin-click button.selected {background-color: #fff;}
a.reset-pin{text-decoration: underline!important; font-size: 12px; color: #b4abfd!important; font-weight: 500; text-align: center!important; margin-top: 15px; display:inline-block}
.pin-num-area {padding: 0 7px; margin-top: 15px; overflow: hidden;}
.pin-num-area li {width: 33.3%; float: left; text-align: center}
.pin-num-area li a {font-family: 'Roboto';font-size: 24px;font-weight: 500; color: #fff!important; padding: 20px 0; display: block}
.pin-num-area li a img {width: 32px; height: 20px; vertical-align: top; margin-top: 8px;}

/* 설정 */
.setting-wrap {border-top:1px solid #eee;}
.setting-list {padding: 0 20px;}
.setting-list li {padding: 16px 0; border-bottom:1px solid #eee;}
.setting-list li.v1{padding: 19px 0; position: relative}
.setting-list li p{color: #b7b7b7; font-size: 12px; margin: 0}
.setting-switch {position: absolute; right: 0; top:16px;}
.logout {text-align: right; padding: 0 20px}
.logout .btn-logout {color: #b7b7b7!important; font-size: 12px;}
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background-color: #f4f4f4;
    border-radius: 20px;
    content: '';
    height: 16px;
    position:absolute;
    transition: all 0.4s ease-in-out;
    width: 36px;
}
.material-switch > label::after {
    border-radius: 20px;
    background-color: #9a9a9a;
    content: '';
    height: 22px;
    position: absolute;
    top: -3px;
    transition: all 0.3s ease-in-out;
    width: 22px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
}
.material-switch > input[type="checkbox"]:checked + label::after {
    left: 16px;
	background-color: #7161f7;
}

/* layer */
.all-del {min-width: 140px!important; left: -120px!important; top: 36px!important; margin: 0!important; border: 0!important; text-align: center!important; padding: 0!important}
.all-del a {color: #fff!important; height: 44px!important; display: block; line-height: 45px!important}
.list-info {min-width: 140px!important; left: -130px!important; top:10px!important; margin: 0!important; border: 0!important; text-align: center!important; padding: 0!important; z-index: 9999;}
.list-info-menu {height: 44px!important; display: block; line-height: 45px!important; color: #414141!important}
.list-info-menu:first-child {border-bottom: 1px solid #e4e4e4;}

/* form */
.input-area label {font-size: 12px!important; color: #4c4c4c!important; font-weight: normal!important}
.input-area input[type="text"],.input-area input[type="password"],.input-area .select-styled {padding: 0 20px!important; border-radius: 6px;border: solid 1px #e4e4e4;background-color: #ffffff; height: 48px; color: #4c4c4c!important; box-shadow: none!important}
.input-area input[type="text"].v1 {text-align: center; font-size: 10px;}
.input-area input::placeholder{color: #b7b7b7!important; font-size: 12px!important}
.input-area select{color: #4c4c4c!important; font-size: 12px!important;}


.select {
  position: relative;
  margin-bottom: 15px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.select .selectBtn {
  background: var(--bg1);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #fff;
}
.select .selectBtn:after {
  content: "";
  position: absolute;
  top: 45%;
  right: 15px;
  width: 6px;
  height: 6px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  transition: 0.2s ease;
}
.select .selectBtn.toggle {
  border-radius: 3px 3px 0 0;
}
.select .selectBtn.toggle:after {
  -webkit-transform: translateY(-50%) rotate(-135deg);
          transform: translateY(-50%) rotate(-135deg);
}
.select .selectDropdown {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  background: var(--bg1);
  border-top: 1px solid #eee;
  z-index: 1;
  background: #fff;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  visibility: hidden;
  transition: 0.2s ease;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.select .selectDropdown .option {
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.select .selectDropdown .option:hover {
  background: #f8f8f8;
}
.select .selectDropdown.toggle {
  visibility: visible;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}